*.opensdf

*.sdf

*.ipch

*.suo

*.exp

*.ilk

*.pdb

*.iobj

*.ipdb

*.aps

*.user

*.tlog

*.obj

*.log

*.res

*.idb

*.pch

*.lastbuildstate

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Directories

ipch

Debug

Release

LIB

backup

data

runtime_data

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries

*.lai

*.la

*.a

*.lib


# Executables

*.exe

*.dll

*.lib

*.out

*.app

#video

*.mp4

*.MOV

*.avi

*.jpg
Masking_Process.VC.VC.opendb
Masking_Process/experiment.txt
*.bmp
Background Cut.VC.VC.opendb
*.png
*.zip
*.psess
first profiling
include_64/
datas/
*.mkv
*.wmv
lagacy/
TrackingPractice/samples/
